extends home
block eslogan
    h1 not found
    h1 (Error 404)
block diss
block options
    .option
        a(href="/#top") Home
    .option
        a(href="/#services") Services
    .option
        a(href="/#location") Location
    .option
        a(href="/#contact") Contact